:root{
    --body_background: #FFF;
    --body_color: #000;
}

[data-theme="dark"]{
    --body_background: #282c34;
    --body_color: #FFF;
    --input_color: #535353;
}

*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

.container{
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--body_background);
    gap: 30px;
}

.containerChild{
    display: flex;
    width: 90%;
    max-width: 500px;
    min-height: 300px;
    box-shadow: 0px 0px 18px 25px rgba(0,0,0,0.1);
    background-color: var(--body_background);
    border-radius: 10px;
    padding: 20px;
    align-items: center;
    flex-direction: column;
    color: var(--body_color);
}

.form{
    display: flex;
    gap: 10px;
}

.input{
    display: flex;
    max-width: 300px;
    background-color: inherit;
}

.clima{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    strong{
        font-size: 28px;
    }
}